@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --text-white: #fff;
  --accent: #00d096;
  --gray: #bcbcc4;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.star {
  width: 10px;
  height: 10px;
  color: var(--text-white);
  position: absolute;
  background-color: var(--text-white);
  border-radius: 50%;
  box-shadow: 0 0 35px var(--text-white);
}

.star::before {
  background: #fff;
  content: '';
  display: block;
  width: 150px;
  height: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-left: -145px;
  opacity: .5;
  transform: rotate(45deg);
  transform-origin: right center;
  transition: all linear 5s;
  box-shadow: 0 0 10px #fff;
}

html {
  font-size: 10px;
}

body {
  background-color: #15131b;
}

main {
  height: 100vh;
  transform-origin: center center;
  overflow: hidden;
  position: relative;
}

.underline {
  border-bottom: 0.1rem solid var(--accent);
}

.burger-btn {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--text-white);
  transform-origin: center center;
  position: relative;
  z-index: 6;
}

.burger-btn.active {
  background: transparent;
}

.burger-btn.active::after,
.burger-btn.active::before {
  transform: translateY(0);
}

.burger-btn.active::after {
  transform: rotate(45deg);
}

.burger-btn.active::before {
  transform: rotate(-45deg);
}

.burger-btn::before,
.burger-btn::after {
  content: "";
  display: block;
  background: var(--text-white);
  height: 0.2rem;
  width: 5rem;
  transform-origin: center center;
  position: absolute;
}

.burger-btn::before {
  transform: translateY(-1rem);
}

.burger-btn::after {
  transform: translateY(1rem);
}

.background {
  transition: all linear 0.8s;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  height: 8rem;
  width: 100%;
  justify-content: space-between;
}

.logo {
  color: var(--text-white);
  font-size: 3rem;
  font-weight: 600;
}

.accent {
  color: var(--accent);
}

.logo span {
  color: var(--accent);
  text-transform: uppercase;
}

.navigation {
  display: flex;
  gap: 3rem;
  transition: all linear 0.3s;
}

.navigation-link {
  color: var(--text-white);
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
}

.navigation-link span {
  color: var(--accent);
}

.navigation-link::after {
  display: block;
  content: "";
  width: 100%;
  height: 0.5rem;
  background: var(--accent);
  transform: scaleX(0);
  transform-origin: left center;
  transition: all linear 0.3s;
}

.navigation-link:hover::after {
  transform: scaleX(1);
}

.main-info {
  color: var(--text-white);
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.main-info h1 {
  font-size: 5rem;
}

.main-info p {
  font-size: 2rem;
  color: var(--gray);
}

.accent-button {
  height: 10rem;
  max-width: 50rem;
  background: transparent;
  border: 0.1rem solid var(--accent);
  color: var(--text-white);
  font-size: 3rem;
  border-radius: 0.3rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.accent-button::after {
  transform-origin: left center;
  transition: all linear 0.3s;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: var(--accent);
  z-index: -1;
}

.accent-button:hover::after {
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15rem;
  height: calc(90vh - 8rem);
}

.main-content img {
  height: 50rem;
  animation: react 6s ease-in-out infinite;
}

.main-scroll-bottom-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-scroll-bottom-btn {
  font-size: 3rem;
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  fill: var(--text-white);
  border: none;
  position: relative;
}

.main-scroll-bottom-btn:before,
.main-scroll-bottom-btn::after {
  display: block;
  content: url(./assets/chevron.svg);
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
}

.main-scroll-bottom-btn::after {
  top: -2rem;
}

.main-scroll-bottom-btn img {
  width: 5rem;
}

.main-scroll-bottom-btn img {
  animation: jumping 2s linear infinite;
}

.main-scroll-bottom-btn::after {
  animation: jumping 2s linear infinite 0.2s;
}

.main-scroll-bottom-btn::before {
  animation: jumping 2s linear infinite 0.1s;
}

#skills {
  padding: 3rem 0;
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skills-wrapper {
  color: #fff;
  font-size: 2rem;
  perspective: 50rem;
  width: 100%;
  height: 50vh;
  position: relative;
}

.skill {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all ease-in 0.3s;
}

.skills-info {
  max-width: 50%;
}

.skills-info h2 {
  font-size: 4rem;
  color: var(--text-white);
  margin-bottom: 1rem;
}

.skills-info p {
  font-size: 2.5rem;
  color: var(--gray);
}

#services {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  height: 100%;
  min-height: 50rem;
  width: 100%;
  align-items: center;
}

.service {
  color: var(--text-white);
  display: flex;
  gap: 2rem;
}

.service img {
  width: 8rem;
  fill: var(--accent);
}

.service-info-text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.service-info-text p {
  font-size: 1.5rem;
  max-width: 40rem;
}

#our-work {
  display: flex;
  justify-content: space-between;
}

.our-work-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-grow: 1;
  color: var(--text-white);
  padding: 0 10rem;
  gap: 2rem;
}

.our-work-info button {
  width: 30rem;
}

.our-work-info h3 {
  font-size: 3rem;
  font-weight: 200;
}

.project img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  filter: blur(1px);
  transition: all linear 0.3s;
}

.our-work-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.project {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.5;
  color: var(--text-white);
  font-size: 2rem;
  font-weight: bold;
  transform: translateY(100%);
  transition: all linear 0.3s;
}

.project:hover .project-overlay {
  transform: translateY(0);
}

.project:hover img {
  transform: scale(1.1);
}

.footer {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-medias {
  display: flex;
  gap: 1rem;
}

.footer-link {
  display: block;
}

.footer-link img {
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 375px) {
  .main-content img {
    display: none;
  }

  .container {
    padding: 0 1rem;
  }
  .navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    flex-direction: column;
    z-index: 5;
    padding: 8rem 1rem;
    transform: translateY(-100%);
  }

  .navigation.active {
    transform: translateY(0);
  }

  .skills {
    flex-direction: column;
  }

  .services-img {
    display: none;
  }

  .services-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #our-work {
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;
  }

  .our-work-info {
    padding: 0;
    text-align: center;
    align-items: center;
  }

  .our-work-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project img {
    width: 100%;
  }

  .skills-info {
    max-width: 100%;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .burger-btn {
    display: none;
  }

  .navigation {
    transform: translateY(0);
    position: static;
    flex-direction: row;
    background: transparent;
  }
  .skills {
    flex-direction: row;
    padding: 0 2rem;
  }
  .skills-info {
    max-width: 50%;
  }
  .services-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .our-work-projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1440px) {
    .container {
      padding: 0 10rem;
    }

    .main-content img {
      display: block;
    }
  }
}

@keyframes react {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  75% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(0);
  }
}

